.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}